<% # handle and show forms errors %>
<% if object.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        Il form contiene <%= pluralize(object.errors.count, 'errore', 'errori') %>.
      </div>
      <ul>
        <% object.errors.full_messages.each do |message| %>
            <li>* <%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>