<% if !@project.videos.nil? %>
    <% string_videos = @project.videos %>
    <% videos = string_videos.split(',') %>
    <h3>Video</h3>
    <% videos.each{ |v|
      if v.include? 'youtube'
      url =v.split('v=').last
      elsif
        url=v.split('com/').last
      end %>


            <div class= "video-wrapper">
              <div class="video-container">
                <% if v.include? 'youtube' %>
                    <iframe type="text/html"  src="http://www.youtube.com/embed/<%=url%>" frameborder="0"></iframe>
                <% elsif v.include? 'vimeo' %>
                <iframe src="http://player.vimeo.com/video/<%=url%>" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                <% end %>
              </div>
              <!– /video –>
            </div>
            <!– /video-wrapper –>

    <% } %>
<% end %>