<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, 'Help' %>

<h1>Help</h1>

<h2>Come funziona</h2>

<p>CrowdFooding è la piattaforma di crowdfunding che permette di creare un progetto, condividerlo con il proprio network ed ottenere un finanziamento per la sua realizzazione. </p>

<h2>A chi si rivolge</h2>
<p>Che tu sia un artista, uno scrittore, un videomaker, un geek, un designer, CrowdFooding è il mondo giusto per far fare il "salto" alla tua idea, per dar vita a una nuova attività imprenditoriale e/o una startup di successo.</p>

<h2>Perchè scegliere CrowdFooding</h2>
<p>Per promuovere l'idea del "finanziamento dal basso", credere nella co-creazione di un progetto, sostenere la propria creatività o quella di altri progettisti.</p>

<p>Il team di CrowdFooding ti aiuterà nel definire le ricompense da corrispondere ai tuoi sostenitori e, se avrai dimostrato di potercela fare, sosterrà la tua attività di promozione attraverso la propria rete di contatti (giornalisti, pubblicitari, quotidiani online, blog) sino al raggiungimento del budget.</p>

<h2>Raggiungere l'obiettivo</h2>
<p>Se alla scadenza il traguardo è raggiunto o superato, le somme offerte vengono prelevate al sostenitore e accreditate al progettista, che a quel punto provvederà a corrispondere le ricompense.

