<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, 'Crea un nuovo progetto' %>

<h1>Crea il tuo progetto</h1>

<%= render 'shared/project_form' %>


