<h1>Nuovo contributo</h1>
<div class="row-fluid">
  <div class="span8 offset2">
    <%= render 'form' %>
    <%= link_to 'Torna indietro', contributions_path(project_id: @project.id) %>
  </div>
</div>