// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#copertina{
  height: 200px;
  width: 900px;
}

.row-fluid{
  background-color: #ffffff;
  margin-top: 20px;
}


#title{
  background-image: url(loghi/apeFelice.jpg);
  background-size: 300px;
  background-repeat: no-repeat;
  background-color: transparent;

}
